.Square {
  flex: 1 0 30%; 
  display: inline-block;
  background-color: #fff;
  font-size: 4rem;
  font-weight: bold;
  height: 10rem;
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  width: 10rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px #ccc;
  transition: background-color 0.3s ease;
}

.Square:hover {
  background-color: #F0F0F0;
}

.Square:focus {
  outline: none;
}

.Square:disabled {
  pointer-events: none;
}

.kbd-navigation .Square:focus {
  background: grey;
}