.App {
  display: flex;
  margin: 0 auto;
}

.Game {
  margin: 0 auto;
  text-align: center;
}

.GameInfo ul {
  list-style-type: none;
}

.Move button {
  box-shadow: 2px 2px 2px #ccc;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  height: 2.2em;
  transition: background-color 0.3s ease;
  width: 80%;
  text-decoration: none;
}

.Move button:hover {
  background-color: #F0F0F0;
  border: none;
}
.Move button:focus {
  outline: none;
}

.WinnerSquare {
  color: #60abd6;
}

#LatestMove {
  font-weight: bold;
  color: #6a874d;
}
